@font-face {
    font-family: "gy1bet2";
    src: url("./gy1bet2.ttf?69e0a05e75c9f3887d2c554b75e16df7") format("truetype"),
url("./gy1bet2.woff?69e0a05e75c9f3887d2c554b75e16df7") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: gy1bet2 !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a:before {
    content: "\61";
}
.icon-b:before {
    content: "\62";
}
.icon-c:before {
    content: "\63";
}
.icon-d:before {
    content: "\64";
}
.icon-e:before {
    content: "\65";
}
.icon-g:before {
    content: "\67";
}
.icon-h:before {
    content: "\68";
}
.icon-i:before {
    content: "\69";
}
.icon-j:before {
    content: "\6a";
}
.icon-k:before {
    content: "\6b";
}
.icon-l:before {
    content: "\6c";
}
.icon-m:before {
    content: "\6d";
}
.icon-n:before {
    content: "\6e";
}
.icon-o:before {
    content: "\6f";
}
.icon-p:before {
    content: "\70";
}
.icon-s:before {
    content: "\73";
}
.icon-t:before {
    content: "\74";
}
.icon-u:before {
    content: "\75";
}
.icon-w:before {
    content: "\77";
}
.icon-x:before {
    content: "\78";
}
.icon-z:before {
    content: "\7a";
}
